body {
    height: 710px;
    width: 900px;
}
.key {
    font-weight: bold;
    padding-right: 0.2rem;
}
.value {
    padding-right: 1.5rem;
}
.first {
    padding-bottom: 10px;
}
.head {
    float: left;
    width: 28%;
    height: 100%;
    background-color: rgb(51, 166, 250);
    margin-right: 10px;
    text-align: center;
    font-size: 32px;
    color: white;
}
.main {
    float: left;
}

h4 {
    margin: 0;
}