h1 {
    height: 65px;
    background-color: gray;
    color: white;
    line-height: 65px;
    padding-left: 20px;
    font-size: 20px;
}

h2 {
    width: 110px;
    height: 150px;
    background-color: lightgray;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
}

.key {
    font-weight: bold;
    padding-right: 1.5rem;
}

.value {
    padding-right: 1.5rem;
}

.key + .value {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: -20;
    line-height: 0px;
}

.title {
    font-weight: bold;
    float: left;
}

h2 + .content {
    margin-top: 10px;
    margin-left: 120px;
}